section div{
    background-color: rgb(147, 111, 181);
}
h2+p{
    color:rgb(232, 19, 19);
    font-style: bold;
}
h3~span{
    font-style:italic ;
}
button:hover{
color:aqua;
}
/* hover là khi di chuyển chuột qua sẽ đổi màu chữ */
/* focus là ấn vào mới đổi màu */
h1:hover{
    background-color:green;

}
li:first-child{
    color:aquamarine;
}
h2::before{
    content:"mmmmmmmm " ;
}
img{
    opacity: 0.7;
}
/* .hvuong{
width:100px;
height:100px;
background-color: rgb(76, 12, 228);
 transition: width 2s;
}
div:hover{
    /* width:300px */ này là hình vuông kéo dài */
