 /* .header{
    width: 500px;
    height: 100px;
    background-color: aqua;
    top:0px;
}
p{
    height: 5000px;
    margin-top: 170px; */
/* 
    .box{
        width:300px;
        height: 200px;
        border: 2px solid black;
        overflow: scroll;
        front-size: 12px;
    } */
